 basics */
body, .modal-body, .modal-header {
  background-color: #333;
  color: #fff;
}
hr {
  background-color: #ccc;
}

h3 {
  background-color: rgba(51,51,51,.8);
}

/* sharethis */
.st-btn {
  background-color: #fff !important;
}
.st-btn svg {
  fill: #333 !important;
}
.st-total {
  color: #fff !important;
}

/* buttons */
.btn-outline-dark {
	background-color: #fff;
	color: #333;
}
.btn-outline-dark:hover, .btn-outline-dark:active {
	background-color: #333;
	color: #fff;
}
.btn-dark, .btn-dark:hover, .btn-dark:active, #snackbar {
	border: 1px solid #fff;
}

/*amazon ads*/
.amzn-native-product-subtitle-text, .amzn-native-product-title-text, .amzn-native-product {
  color: #fff !important;
}
.amzn-native-product {
  background-color: #333 !important;
}


/*.amzn-native-products-list, .amzn-native-product {
  background-color: #333 !important;
  z-index: -99;
}